<form id="formInsertar" class="row g-3">
    <div class="col-12">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" placeholder="Ej. Mario" required />
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label">Edad</label>
        <input type="number" name="edad" class="form-control" min="0" step="1" placeholder="Ej. 35" required />
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</form>
